<div class="container">
  <div class="row">
    {{#if favNews}}
      {{#each favNews}}
        <div class="col-12 col-md-6 col-lg-4 pt-5">
          <div class="card">
            <img src="{{pictureUrl}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{headline}}</h5>
              <p class="card-text">{{body}}</p>
              <div id="fav-news" class="row justify-content-between">
                <a href="{{externalUrl}}" target="blank">Read more</a>
                <div class="btn-container">
                  <p class="counter">{{timesFavorited}}</p>
                  <i class="fas fa-leaf user-fav favorite"></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small>Published on {{published}}</small>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>You don't have any favorites news yet</p>
    {{/if}}
  </div>
</div>
