<div class="container">
    {{#if favNews}}
    <div class="row">
      {{#each favNews}}
        <div class="col-12 col-md-6 col-lg-4 pt-5">
          <div class="card">
            <img src="{{pictureUrl}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{headline}}</h5>
              <small class="card-text text-muted author">By {{author}}</small>
              <p class="card-text">{{body}}</p>
              <div id="fav-news" class="row justify-content-between">
                <a href="{{externalUrl}}" target="blank">Read more</a>
                <div class="btn-container">
                  <p class="counter">{{timesFavorited}}</p>
                  <i class="fas fa-leaf user-fav favorite"></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small>Published on {{published}}</small>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{else}}
    <div class="row justify-content-center pt-5">
      <div class="text-news">
        <p>You don't have any favorite news yet</p>
        <p>Check out our <a href="/news">news section <i class="fas fa-leaf"></i></a></p>
      </div>
    </div>
    {{/if}}
    <i id="back-to-top" class="fas fa-arrow-circle-up"></i>
</div>
